body {
  font-family: sans-serif;
  margin: 20px;
}

h2 {
  margin-bottom: 15px;
}

form label, form fieldset {
  display: block;
  margin-bottom: 10px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
}

#productList label {
  display: block;
  margin: 5px 0;
}
